
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />


<div>
    @Html.ActionLink("Link 1", "Index") <br />
    @Html.ActionLink("Link 2", "Index2")<br />
    @Html.ActionLink("Link 3", "Index3")<br />
    @Html.ActionLink("Link 4", "Belge", new { belgeno = 1 })<br />
    @Html.ActionLink("Link 5", "Show", new { id = 2 })<br />
</div>

